/* - - - css reset - - - */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* - - - tailwind - - - */
/* settings */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @apply */
@layer components {
  .header-component-nav-item {
    @apply text-2xl text-dark-gray hover:text-pink duration-500 text-center pl-6 py-2 xl:text-2xl;
  }

  .all-component-title {
    @apply text-dark-gray text-3xl font-main border-l-4 px-3 md:text-4xl;
  }

  .home-component-icon {
    @apply text-dark-gray text-5xl hover:text-pink duration-500;
  }

  .about-component-text {
    @apply text-dark-gray text-lg opacity-80;
  }

  .about-component-tech {
    @apply flex justify-center items-center gap-2 text-dark-gray text-xl font-main w-[150px] h-[60px];
  }

  .work-component-title {
    @apply text-dark-gray text-3xl font-main pt-6 border-b md:pt-0;
  }

  .work-component-description {
    @apply text-dark-gray text-lg opacity-80 font-text my-6;
  }

  .work-component-tech {
    @apply text-dark-gray text-lg font-main mr-3 px-6 py-2;
  }

  .contact-component-form {
    @apply px-2 py-2 placeholder-gray-400 text-gray-600 font-text relative bg-white rounded border-0 shadow outline-none focus:outline-none focus:ring w-full md:px-3 md:py-3;
  }
}

.all-component-tech {
  border-radius: 12px;
  background: #34c7f2;
  box-shadow: inset 5px 5px 10px #30b7df, inset -5px -5px 10px #38d7ff;
}

/* font */
@font-face {
  src: url('./assets/Font.woff2') format('woff2');
  font-family: 'Bebas Neue';
  font-display: swap;
}

/* glass effect */
.glass {
  background: rgba(255, 255, 255, 0.19);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* - - - animations - - - */
/* base fade-in effect */
.ScrollFadeIn {
  opacity: 0;
  transform: translateY(20vh);
  -webkit-transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  -webkit-transition: opacity 0.6s ease-out, -webkit-transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.ScrollFadeIn.fade-styling {
  opacity: 1;
  transform: none;
  -webkit-transform: none;
  visibility: visible;
}

/* card fade-in effect */
.card-fade-in {
  animation: fadeup 0.8s forwards;
  -webkit-animation: fadeup 0.8s forwards;
  opacity: 0;
}

@keyframes fadeup {
  from {
    opacity: 0;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

/* dialogflow */
df-messenger {
  --df-messenger-button-titlebar-color: white;
  --df-messenger-button-titlebar-color: #303030;
  --df-messenger-button-titlebar-font-color: #ffffff;
  --df-messenger-send-icon: #303030;
  --df-messenger-user-message: #e5e4e2;
}
